In [1]:
pip install ipython-sql pymysql

Requirement already satisfied: ipython-sql in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (0.5.0)
Requirement already satisfied: pymysql in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (1.1.1)
Requirement already satisfied: prettytable in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (8.26.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (2.0.39)
Requirement already satisfied: sqlparse in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\ziyad\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
%load_ext sql
%sql mysql+pymysql://root:zahid@localhost/my_datasets

In [3]:
%config SqlMagic.style = 'plain_columns'

 1 Which nationality produces the highest-rated players (OVA)?

In [4]:
%%sql
SELECT Nationality,COUNT(*) AS Players,AVG(OVA) AS AVG_AVA
FROM fifa_players
GROUP BY Nationality
HAVING Players>=15
ORDER BY AVG_AVA DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/my_datasets
10 rows affected.

[('Brazil', 857, Decimal('72.0047')),
 ('Algeria', 51, Decimal('71.5490')),
 ('Egypt', 35, Decimal('71.2000')),
 ('Ukraine', 72, Decimal('70.7500')),
 ('Portugal', 365, Decimal('70.5699')),
 ('Morocco', 91, Decimal('70.4396')),
 ('Czech Republic', 124, Decimal('70.4032')),
 ('Iran', 20, Decimal('70.4000')),
 ('Cape Verde', 24, Decimal('69.8750')),
 ('Serbia', 131, Decimal('69.8244'))]

2 Which clubs have the most high-potential (POT) players?

In [5]:
%%sql
SELECT Club,COUNT(*) AS Players,AVG(POT) AS AVG_POT
FROM fifa_players
GROUP BY Club
HAVING Players>=10
ORDER BY AVG_POT DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/my_datasets
10 rows affected.

[('FC Bayern München', 26, Decimal('85.4615')),
 ('Real Madrid', 33, Decimal('84.8485')),
 ('FC Barcelona', 41, Decimal('83.9024')),
 ('Liverpool', 40, Decimal('82.6000')),
 ('Manchester City', 41, Decimal('82.3902')),
 ('Juventus', 40, Decimal('82.1750')),
 ('Atlético Madrid', 39, Decimal('82.0513')),
 ('Paris Saint-Germain', 36, Decimal('81.9722')),
 ('Tottenham Hotspur', 42, Decimal('81.8810')),
 ('Manchester United', 45, Decimal('81.8222'))]

3 Which players have the highest potential vs. current OVA gap?

In [6]:
%%sql
SELECT Name, POT - OVA AS GROWTH_DIFFERENCE
FROM fifa_players
ORDER BY GROWTH_DIFFERENCE  DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/my_datasets
10 rows affected.

[('R. Richards', 26),
 ('B. Arrey-Mbi', 26),
 ('A. Hajdari', 26),
 ('O. Babuscu', 25),
 ('M. Kvinge', 25),
 ('W. Faghir', 25),
 ('S. Auklend', 25),
 ('C. Riad', 25),
 ('T. Gulliksen', 25),
 ('D. Leyva', 25)]

4 Do taller players have better heading accuracy?

In [7]:
%%sql
SELECT Name,`Heading Accuracy`,Height
FROM fifa_players
ORDER BY `Heading Accuracy` DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/my_datasets
10 rows affected.

[('L. Pavoletti', 93, '6\'2"'),
 ('L. de Jong', 93, '6\'2"'),
 ('H. Şükür', 92, '6\'3"'),
 ('B. Dost', 92, '6\'5"'),
 ('M. Fellaini', 92, '6\'4"'),
 ('Sergio Ramos', 92, '6\'0"'),
 ('M. Smith', 91, '6\'6"'),
 ('K. Benzema', 91, '6\'1"'),
 ('D. Van Buyten', 91, '6\'6"'),
 ('T. Cahill', 91, '5\'10"')]

5 Are good passers also good at vision and ball control?

In [8]:
%%sql 
SELECT Name,`Short Passing`,Vision,`Ball Control`
FROM fifa_players
ORDER BY `Short Passing` DESC 
LIMIT 10;

 * mysql+pymysql://root:***@localhost/my_datasets
10 rows affected.

[('K. De Bruyne', 94, 94.0, 92),
 ('Xavi', 93, 94.0, 93),
 ('T. Kroos', 93, 90.0, 89),
 ('David Silva', 92, 91.0, 91),
 ('Parejo', 92, 89.0, 86),
 ('L. Modrić', 91, 90.0, 90),
 ('B. Schneider', 91, None, 90),
 ('L. Messi', 91, 95.0, 96),
 ('F. Totti', 90, 91.0, 91),
 ('Iniesta', 90, 93.0, 90)]

6 Does aggression correlate with interceptions?

In [9]:
%%sql
SELECT Name,Aggression,interceptions
FROM fifa_players
ORDER BY Aggression DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/my_datasets
10 rows affected.

[('K. Gjasula', 96, 65.0),
 ('P. Pérez', 95, 71.0),
 ('B. Pearson', 95, 72.0),
 ('D. Erdmann', 94, 56.0),
 ('Gazzolisco', 94, 67.0),
 ('P. García', 94, 75.0),
 ('O. Kahn', 94, 91.0),
 ('Diego Costa', 93, 40.0),
 ('T. Motta', 93, 81.0),
 ('M. Simon', 93, 48.0)]

7 Who are the best defensive midfielders?

In [10]:
%%sql
SELECT Name,Club,CDM
FROM fifa_players
ORDER BY CDM DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/my_datasets
10 rows affected.

[('Casemiro', 'Real Madrid', '86+3'),
 ('N. Kanté', 'Chelsea', '86+2'),
 ('Fabinho', 'Liverpool', '85+3'),
 ('J. Kimmich', 'FC Bayern München', '85+3'),
 ('Sergio Ramos', 'Real Madrid', '85+3'),
 ('V. van Dijk', 'Liverpool', '85+3'),
 ('J. Henderson', 'Liverpool', '85+1'),
 ('Allan', 'Everton', '85+-2'),
 ('R. Nainggolan', 'Inter', '85+-2'),
 ('P. Lahm', 'FC Bayern München', '84+3')]

8 Which GK has the best reflex vs positioning?

In [11]:
%%sql
SELECT Name, `GK Reflexes`, `GK Positioning`,
       (`GK Reflexes` - `GK Positioning`) AS Reflex_vs_Positioning
FROM fifa_players
WHERE Position = 'GK'
ORDER BY Reflex_vs_Positioning DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/my_datasets
10 rows affected.

[('Y. Obata', 70, 49, 21),
 ('L. Gomis', 79, 59, 20),
 ('S. Lammens', 63, 43, 20),
 ('T. Kraft', 83, 64, 19),
 ('B. Verbruggen', 65, 46, 19),
 ('Li Guanxi', 59, 40, 19),
 ('J. Krahl', 71, 52, 19),
 ('Vinicius', 72, 54, 18),
 ('B. Özer', 66, 49, 17),
 ('L. Gütlbauer', 62, 45, 17)]

9 What’s the average stat across all GK skills?

In [12]:
%%sql
SELECT Name,`GK Diving`,`GK Reflexes`,`GK Handling`,`GK Positioning`,`GK Kicking`,(`GK Diving`+`GK Reflexes`+`GK Handling`+`GK Positioning`+`GK Kicking`)/5 AS GK_STATS
FROM fifa_players
ORDER BY GK_STATS DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/my_datasets
10 rows affected.

[('M. Neuer', 87, 89, 87, 86, 91, Decimal('88.0000')),
 ('M. ter Stegen', 88, 90, 85, 88, 88, Decimal('87.8000')),
 ('Alisson', 86, 89, 88, 91, 85, Decimal('87.8000')),
 ('J. Oblak', 87, 90, 92, 90, 78, Decimal('87.4000')),
 ('Ederson', 86, 88, 82, 86, 93, Decimal('87.0000')),
 ('S. Handanovič', 88, 89, 85, 89, 73, Decimal('84.8000')),
 ('Y. Sommer', 80, 85, 86, 87, 85, Decimal('84.6000')),
 ('E. van der Sar', 82, 75, 87, 93, 85, Decimal('84.4000')),
 ('P. Gulácsi', 84, 86, 85, 84, 82, Decimal('84.2000')),
 ('T. Courtois', 84, 88, 89, 85, 74, Decimal('84.0000'))]

10 What’s the average PAC for wingers vs full-backs?

In [13]:
%%sql
SELECT BP,AVG(PAC) AS AVG_PAC
FROM fifa_players
WHERE BP IN ('LW','RW','LM','RM','LB','RB')
GROUP BY BP;

 * mysql+pymysql://root:***@localhost/my_datasets
6 rows affected.

[('RW', Decimal('79.8906')),
 ('LB', Decimal('72.7340')),
 ('LM', Decimal('77.0634')),
 ('RM', Decimal('77.8162')),
 ('RB', Decimal('73.9139')),
 ('LW', Decimal('78.7129'))]

11 Which positions have the most players with POT > 85?

In [24]:
%%sql
SELECT BP,COUNT(*) AS PLAYERS
FROM fifa_players
WHERE POT >85
GROUP BY BP
ORDER BY PLAYERS DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/my_datasets
10 rows affected.

[('CAM', 67),
 ('CB', 40),
 ('ST', 34),
 ('GK', 32),
 ('CM', 22),
 ('CDM', 17),
 ('LM', 15),
 ('RM', 14),
 ('LB', 12),
 ('CF', 8)]

12 Correlate Hits vs. OVA/POT (are popular players also the best?).

In [27]:
%%sql
SELECT Name,Hits,OVA,POT
FROM fifa_players
ORDER BY Hits DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/my_datasets
10 rows affected.

[('I. Niane', '99', 70, 81),
 ('A. Bayındır', '99', 73, 80),
 ('L. Travis', '99', 72, 81),
 ('J. Scott', '99', 63, 80),
 ('L. Bonucci', '99', 85, 85),
 ('A. Cragno', '99', 81, 85),
 ('K. Strootman', '99', 77, 77),
 ('F. Cervi', '99', 78, 79),
 ('D. Amartey', '99', 73, 76),
 ('H. Mastour', '99', 65, 76)]